h1, h6 {
    margin: auto;
    padding: 10px;
    text-align: center;
}

#keyboardDiv, #octaveDiv, #effectsDiv {
    margin: auto;
    padding: 10px;
    text-align: center;
}

#directionsDiv {
    margin: auto;
    padding: 10px;
}

select {
    padding: 20px;
}
